<div class="sidebar">
  <aside class="profile">
    <img src="{{ site.portrait | prepend: site.baseurl }}" class="profile-picture">
    <h2>Bernardo Rittmeyer</h2>
    <p>I'm a web developer and my work is to make the web more open and fun.</p>
    <p>Find me on:</p>
    <ul class="profile-links">
      <li><a target="_blank" href="http://www.linkedin.com/in/bernardorittmeyer/en"><img src="/images/linkedin.svg" alt="LinkedIn"></a></li>
      <li><a target="_blank" href="https://github.com/rittme"><img src="/images/github.svg" alt="Github"></a></li>
      <li><a target="_blank" href="https://twitter.com/rittmeyer"><img src="/images/twitter.svg" alt="Twitter"></a></li>
    </ul>
  </aside>
  <nav>
    <h2>Navigation</h2>
    <ul class="navigation">
      <li class="home-menu-item">
        <a class="nav-blog" href="/">Home</a>
      </li>
      {% for page in site.pages %}
        {% if page.title %}
          <li>
            <a class="nav-{{page.title | downcase}}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  <div class="rss-subscribe">
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <img src="{{ site.baseurl }}/images/feed.svg" class="feed-icon" alt="">
    </a>
  </div>
</div>
<div class="sideback"></div>